# Discord
discord.py>=2.3.0
discord-ext-menus
jishaku

# Web framework
fastapi
uvicorn
quart
flask

# Database
pymongo
motor
asyncpg
aiosqlite

# HTTP / Network
aiohttp
httpx
requests

# Utils
psutil
python-dotenv
PyYAML
colorama
pyfiglet
python-dateutil

# Music
wavelink

# Features
gtts
langdetect
pyttsx3
chess
deep-translator==1.11.4
duckduckgo-search==6.3.6
chat_exporter
openai
numpy
Augmentor
